In [1]:
!pip install polars
!pip install xlsxwriter
!pip install fastexcel
!pip install pyarrow

Requirement already satisfied: polars in /home/gabor/venv/lib/python3.12/site-packages (1.20.0)
Requirement already satisfied: xlsxwriter in /home/gabor/venv/lib/python3.12/site-packages (3.2.0)
Requirement already satisfied: fastexcel in /home/gabor/venv/lib/python3.12/site-packages (0.12.1)
Requirement already satisfied: pyarrow>=8.0.0 in /home/gabor/venv/lib/python3.12/site-packages (from fastexcel) (19.0.0)
Requirement already satisfied: pyarrow in /home/gabor/venv/lib/python3.12/site-packages (19.0.0)

In [2]:
import polars as pl
import datetime as dt

In [3]:
df = pl.DataFrame(
    {
        "name": ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
        "birthdate": [
            dt.date(1997, 1, 10),
            dt.date(1985, 2, 15),
            dt.date(1983, 3, 22),
            dt.date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [4]:
df

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [5]:
df.head(2)

shape: (2, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Alice Archer ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown    ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
└──────────────┴────────────┴────────┴────────┘

In [6]:
df.tail(2)

shape: (2, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [7]:
dir(df)

['__add__',
 '__annotations__',
 '__array__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '_accessors',
 '_cast_all_from_to',
 '_comp',
 '_compare_to_non_df',
 '_compare_to_other_df',
 '_df',
 '_div',
 '_from_arrow',
 '_from_pandas',
 '_from_pydf',
 '_ipython_key_completions_',
 '_replace',
 '_repr_html_',
 '_row_encode',
 '_to_metadata',
 '_to_pandas_with_object_columns',
 '_to_pandas_without_object_columns',
 'approx_n_unique',
 'bottom_k',
 'cast',
 'clear',
 'clone',
 'collect_schema',
 'columns',
 'corr',
 'count',
 'describe',
 'deserialize',
 'drop',
 'drop_in_place',
 'drop_nans',
 'drop_nulls',
 'dtypes',
 'equals',
 'estimated_size',
 'explode',
 'extend',
 'fill_nan',
 'fill_null',
 'filter',
 'flags',
 'fold',
 'gather_every',
 'get_column',
 'get_column_index',
 'get_columns',
 'glimpse',
 'group_by',
 'group_by_dynamic',
 'hash_rows',
 'head',
 'height',
 'hstack',
 'insert_column',
 'interpolate',
 'is_duplicated',
 'is_empty',
 'is_unique',
 'item',
 'iter_columns',
 'iter_rows',
 'iter_slices',
 'join',
 'join_asof',
 'join_where',
 'lazy',
 'limit',
 'map_rows',
 'max',
 'max_horizontal',
 'mean',
 'mean_horizontal',
 'median',
 'melt',
 'merge_sorted',
 'min',
 'min_horizontal',
 'n_chunks',
 'n_unique',
 'null_count',
 'partition_by',
 'pipe',
 'pivot',
 'plot',
 'product',
 'quantile',
 'rechunk',
 'rename',
 'replace_column',
 'reverse',
 'rolling',
 'row',
 'rows',
 'rows_by_key',
 'sample',
 'schema',
 'select',
 'select_seq',
 'serialize',
 'set_sorted',
 'shape',
 'shift',
 'shrink_to_fit',
 'slice',
 'sort',
 'sql',
 'std',
 'style',
 'sum',
 'sum_horizontal',
 'tail',
 'to_arrow',
 'to_dict',
 'to_dicts',
 'to_dummies',
 'to_init_repr',
 'to_jax',
 'to_numpy',
 'to_pandas',
 'to_series',
 'to_struct',
 'to_torch',
 'top_k',
 'transpose',
 'unique',
 'unnest',
 'unpivot',
 'unstack',
 'update',
 'upsample',
 'var',
 'vstack',
 'width',
 'with_columns',
 'with_columns_seq',
 'with_row_count',
 'with_row_index',
 'write_avro',
 'write_clipboard',
 'write_csv',
 'write_database',
 'write_delta',
 'write_excel',
 'write_ipc',
 'write_ipc_stream',
 'write_json',
 'write_ndjson',
 'write_parquet']

In [8]:
df.describe()

shape: (9, 5)
┌────────────┬────────────────┬─────────────────────┬───────────┬──────────┐
│ statistic  ┆ name           ┆ birthdate           ┆ weight    ┆ height   │
│ ---        ┆ ---            ┆ ---                 ┆ ---       ┆ ---      │
│ str        ┆ str            ┆ str                 ┆ f64       ┆ f64      │
╞════════════╪════════════════╪═════════════════════╪═══════════╪══════════╡
│ count      ┆ 4              ┆ 4                   ┆ 4.0       ┆ 4.0      │
│ null_count ┆ 0              ┆ 0                   ┆ 0.0       ┆ 0.0      │
│ mean       ┆ null           ┆ 1986-09-04 00:00:00 ┆ 66.775    ┆ 1.6825   │
│ std        ┆ null           ┆ null                ┆ 13.560082 ┆ 0.097082 │
│ min        ┆ Alice Archer   ┆ 1981-04-30          ┆ 53.6      ┆ 1.56     │
│ 25%        ┆ null           ┆ 1983-03-22          ┆ 57.9      ┆ 1.65     │
│ 50%        ┆ null           ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ 75%        ┆ null           ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ max        ┆ Daniel Donovan ┆ 1997-01-10          ┆ 83.1      ┆ 1.77     │
└────────────┴────────────────┴─────────────────────┴───────────┴──────────┘

In [9]:
df.write_csv("getting_started.csv")

In [10]:
df.write_excel("getting_started.xlsx")

In [11]:
df_csv = pl.read_csv("getting_started.csv", try_parse_dates=True)
print(df_csv)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [ ]:
df_excel = pl.read_excel("getting_started.xlsx")
print(df_excel)